.grid{
    /* height:400px;
    width: 400px; */
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    -webkit-user-select: none;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    text-align: center;
}
.checked {
    background-color: greenyellow;
}

#timer {
    margin-left: 200px;
}
#reset {
    margin-top: 10px;
}
